# Carpetaas
/node_modules

# Archivos dentro de carpetas
/src/public/documents/*
#/src/public/img/profiles/*
#/src/public/img/products/*

# Archivos de entorno
.env
.env.development
.env.production

# Archivos excluidos del ignore
!/src/public/img/default_product_img.png
!/src/public/img/profiles/default_profile_picture.jpg